Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm type-check
  stage_fixed: true

fix: Exclude VRT project from default test command
  package.json
Due: biome

test: Rename browser test project to unit and simplify config
  .github/workflows/ci.yml
  package.json
  vitest.config.ts
Due: biome, type-check

test: Skip VRT for CurrentMonth story in CalendarChart
  src/components/calendar-chart/index.stories.tsx
Due: biome, type-check

test: Improve component name extraction in VRT for non-index story files
  src/__visual-tests__/all-stories.visual.test.tsx
Due: biome, type-check

test: Improve VRT with dynamic viewport and padding
  src/__visual-tests__/all-stories.visual.test.tsx
Due: biome, type-check

test: Refactor story type handling and add margin to VRT wrapper
  src/__visual-tests__/all-stories.visual.test.tsx
Due: biome, type-check

feat: VRTセットアップ - Vitest 4.0.15とcomposeStoriesによる全ストーリーテスト
  .gitignore
  .storybook/vitest-browser.setup.ts
  package.json
  pnpm-lock.yaml
  src/__visual-tests__/all-stories.visual.test.tsx
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  tsconfig.json
  vitest.config.ts
Due: biome, type-check

test: Simplify VRT by leveraging Storybook decorator
  .storybook/preview.tsx
  src/__visual-tests__/all-stories.visual.test.tsx
Due: biome, type-check

ci: Install Playwright browsers in CI workflow
  .github/workflows/ci.yml
Due: none

test: Update story configurations for VRT consistency
  src/components/loading/index.stories.tsx
  src/components/navigation/index.stories.tsx
  src/components/time-series-chart/index.stories.tsx
Due: biome, type-check

feat: Add VRT workflow for pull requests
  .github/workflows/vrt.yml
Due: none

fix: Add permissions and fetch-depth to VRT workflow
  .github/workflows/vrt.yml
Due: none

fix: Add include-hidden-files option to artifact upload
  .github/workflows/vrt.yml
Due: none

fix: Enable screenshot failures in CI environment
  vitest.config.ts
Due: biome, type-check

debug: Add step to list vitest attachments
  .github/workflows/vrt.yml
Due: none

feat: implement Phase 1 - UI components for entity history
  src/app/(private)/history/[date]/_components/date-navigation.stories.tsx
  src/app/(private)/history/[date]/_components/date-navigation.tsx
  src/app/(private)/history/[date]/_components/entity-history-item.stories.tsx
  src/app/(private)/history/[date]/_components/entity-history-item.tsx
  src/app/(private)/history/[date]/_components/entity-history-section-content.tsx
  src/app/(private)/history/[date]/_components/entity-history-section.tsx
  src/app/(private)/history/[date]/_components/entity-list-content.tsx
Due: biome, type-check

chore: storybook 起動の高速化
  .storybook/main.ts
  package.json
Due: biome, type-check

feat: add date utility functions for entity history editing
  src/app/(private)/_actions/_utils/create-noon-date.test.ts
  src/app/(private)/_actions/_utils/create-noon-date.ts
  src/app/(private)/_actions/_utils/editable-date.test.ts
  src/app/(private)/_actions/_utils/editable-date.ts
Due: biome, type-check

feat: add createdAt field to AdventureLog type
  src/app/(private)/_actions/types/adventure-log.ts
Due: biome, type-check

feat: implement server actions for date-specific entity history editing
  src/app/(private)/_actions/delete-powerup-history.ts
  src/app/(private)/_actions/delete-quest-history.ts
  src/app/(private)/_actions/delete-villain-history.ts
  src/app/(private)/_actions/get-daily-entity-histories.ts
  src/app/(private)/_actions/post-powerup-history-at-date.ts
  src/app/(private)/_actions/post-quest-history-at-date.ts
  src/app/(private)/_actions/post-villain-history-at-date.ts
Due: biome, type-check

feat: implement Phase 3 - integrate daily entity history page with calendar
  src/app/(private)/_components/daily-achievement/index.tsx
  src/app/(private)/history/[date]/page.tsx
Due: biome, type-check

fix: use JST-based date formatting for URL generation
  src/app/(private)/_components/daily-achievement/index.tsx
  src/app/(private)/history/[date]/_components/date-navigation.tsx
Due: biome, type-check

feat: implement entity history add/delete functionality with Server Actions
  src/app/(private)/history/[date]/_components/entity-history-item.stories.tsx
  src/app/(private)/history/[date]/_components/entity-history-item.tsx
  src/app/(private)/history/[date]/_components/entity-history-section-content.tsx
  src/app/(private)/history/[date]/_components/entity-history-section.tsx
  src/app/(private)/history/[date]/_components/entity-list-content.tsx
  src/app/(private)/history/[date]/page.tsx
Due: biome, type-check

feat: improve entity history UI/UX
  src/app/(private)/_components/entity-icon/index.tsx
  src/app/(private)/history/[date]/_components/entity-history-item.tsx
  src/app/(private)/history/[date]/page.tsx
  src/components/icons/CheckGradient.tsx
Due: biome, type-check

fix: update mission conditions when deleting entity history
  src/app/(private)/_actions/delete-powerup-history.ts
  src/app/(private)/_actions/delete-quest-history.ts
  src/app/(private)/_actions/delete-villain-history.ts
  src/app/(private)/_actions/get-daily-entity-histories.ts
  src/app/_utils/sql/mission.ts
Due: biome, type-check

fix: update mission conditions based on history creation date
  src/app/(private)/_actions/post-powerup-history-at-date.ts
  src/app/(private)/_actions/post-quest-history-at-date.ts
  src/app/(private)/_actions/post-villain-history-at-date.ts
  src/app/_utils/sql/mission.ts
Due: biome, type-check

fix: auto-create daily mission when adding history for a date
  src/app/(private)/_actions/create-daily-mission-for-date.ts
  src/app/(private)/_actions/post-powerup-history-at-date.ts
  src/app/(private)/_actions/post-quest-history-at-date.ts
  src/app/(private)/_actions/post-villain-history-at-date.ts
Due: biome, type-check

fix: revert mission conditions for past dates when deleting history
  src/app/(private)/_actions/delete-powerup-history.ts
  src/app/(private)/_actions/delete-quest-history.ts
  src/app/(private)/_actions/delete-villain-history.ts
  src/app/_utils/sql/mission.ts
Due: biome, type-check

fix: count history only for the target date when reverting missions
  src/app/_utils/sql/mission.ts
Due: biome, type-check

style: improve layout for entity history components
  src/app/(private)/history/[date]/_components/entity-history-item.tsx
  src/app/(private)/history/[date]/_components/entity-history-section-content.tsx
  src/app/(private)/history/[date]/_components/entity-list-content.tsx
Due: biome, type-check

test: テストヘルパー関数の追加
  src/test/helpers/date-helpers.ts
  src/test/helpers/db-helpers.ts
  src/test/helpers/mission-helpers.ts
  src/test/helpers/mock-auth.ts
Due: biome, type-check

test: quest履歴登録の統合テスト追加
  src/app/(private)/_actions/post-quest-history-at-date.integration.test.ts
Due: biome, type-check

chore: similarity-tsツールの導入
  .gitignore
  package.json
Due: biome

test: Vitestの統合テスト基盤構築
  .env.test
  vitest-global.setup.ts
  vitest.config.ts
  vitest.integration.setup.ts
Due: biome, type-check

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
