Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm type-check
      stage_fixed: true

feat: villins quests も sortable に
  src/app/(private)/powerups/page.tsx
  src/app/(private)/quests/_components/quest-list.tsx
  src/app/(private)/quests/page.tsx
  src/app/(private)/villains/_components/villain-list.tsx
  src/app/(private)/villains/page.tsx
Due: biome, type-check

build: keep motion version
  package.json
  pnpm-lock.yaml
  renovate.json
Due: biome

chore: use turbo option on dev
  next.config.ts
  package.json
Due: biome, type-check

fix: 自身はないけど transaction の select に update を追加して様子を見る
  src/app/_utils/sql/mission.ts
Due: biome, type-check

chore: reorder しているときはリンクを無効にする
  src/app/(private)/_components/entity-link/index.tsx
  src/app/(private)/powerups/_components/powerup-list.tsx
  src/app/(private)/quests/_components/quest-list.tsx
  src/app/(private)/villains/_components/villain-list.tsx
  src/components/motion-link/index.tsx
  src/components/reorder/index.stories.tsx
Due: biome, type-check

chore: 別の path に移動したら reorder は false に
  src/app/_components/sortable/provider.tsx
Due: biome, type-check

fix: migration file が重複していたので手動で統合する
  src/db/drizzle/0013_freezing_mach_iv.sql
  src/db/drizzle/0013_magenta_lila_cheney.sql
Due: none

feat: テスト関連のスキーマを定義
  src/db/schema/superbetter.ts
  src/db/types/test.ts
Due: biome, type-check

chore: drizzle:gen
  src/db/drizzle/0017_known_scorpion.sql
  src/db/drizzle/meta/0017_snapshot.json
  src/db/drizzle/meta/_journal.json
Due: biome

feat: me に 測定の間のセクションをつくる
  src/app/(private)/_components/entity-link/index.tsx
  src/app/(private)/me/page.tsx
  src/assets/icons.tsx
  src/components/motion-link/index.tsx
Due: biome, type-check

feat: ButtonLink を追加
  src/components/button/index.tsx
Due: biome, type-check

feat: sacn/pos-neg を追加
  src/app/(private)/me/page.tsx
  src/app/scan/pos-neg/page.tsx
Due: biome, type-check

feat: number-input を実装
  src/assets/icons.tsx
  src/components/number-input/index.stories.tsx
  src/components/number-input/index.tsx
Due: biome, type-check

build: storybook を pages にデプロイ
  .github/workflows/storybook.yml
Due: none

fix: 存在するバージョンを指定
  .github/workflows/storybook.yml
Due: none

fix: 不要なバージョン指定を削除
  .github/workflows/storybook.yml
Due: none

Update README.md
  README.md
Due: none

docs: README の編集
  README.md
Due: none

feat: counter-button の追加
  src/assets/icons.tsx
  src/components/button/index.tsx
  src/components/counter-button/index.stories.tsx
  src/components/counter-button/index.tsx
Due: biome, type-check

chore: pos-neg/question の実装 (CRUDはふくまない
  src/app/scan/pos-neg/question/page.tsx
  src/assets/icons.tsx
Due: biome, type-check

feat: post pos-neg question obj
  src/app/scan/pos-neg/page.tsx
  src/app/scan/pos-neg/question/page.tsx
  src/app/scan/pos-neg/question/pos-neg-score.ts
  src/db/types/test.ts
Due: biome, type-check

feat: test-type の seed を追加
  src/db/seed/test-type.ts
Due: biome, type-check

feat: seed のスクリプトを追加
  package.json
Due: biome

feat: pos-neg/result ページを実装
  src/app/(private)/_components/header/index.tsx
  src/app/scan/pos-neg/result/page.tsx
Due: biome, type-check

feat: result page を追加
  src/app/scan/pos-neg/result/_actions/get-pos-neg-scores.ts
  src/app/scan/pos-neg/result/page.tsx
Due: biome, type-check

refactor: 置く場所間違えてた
  src/app/scan/pos-neg/question/_actions/pos-neg-score.ts
  src/app/scan/pos-neg/question/page.tsx
Due: biome, type-check

refactor: get-pos-neg-scoreを移動
  src/app/(private)/me/_actions/get-pos-neg-scores.ts
  src/app/scan/pos-neg/result/page.tsx
Due: biome, type-check

feat: pos-neg テストのリリース
  src/app/(private)/me/page.tsx
Due: biome, type-check

chore: 微調整
  src/app/scan/pos-neg/result/page.tsx
Due: biome, type-check

fix: 少数第一位までで表示
  src/app/(private)/me/page.tsx
  src/app/scan/pos-neg/result/page.tsx
Due: biome, type-check

refactor: 現在時刻の取得とその日の始まりと終わりを取得する処理を関数化
  src/app/(private)/_actions/create-daily-mission.ts
  src/app/_utils/date.ts
Due: biome, type-check

refactor: 既存の処理を date.ts で置き換える
  src/app/(private)/_actions/get-today-logs.ts
  src/app/(private)/_actions/get-weeklly-achievements.ts
  src/app/_utils/date.ts
Due: biome, type-check

test: date.test.ts の追加
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(private)/_actions/get-weeklly-achievements.ts
  src/app/_utils/date.test.ts
  src/app/_utils/date.ts
  vitest.config.ts
  vitest.setup.ts
Due: biome, type-check

build: install recharts
  package.json
  pnpm-lock.yaml
Due: biome

feat: chart の土台をつくる
  src/assets/icons.tsx
  src/components/time-series-chart/index.stories.tsx
  src/components/time-series-chart/index.tsx
Due: biome, type-check

fix: filter を <filter/> で与えるように
  src/components/time-series-chart/index.tsx
Due: biome, type-check

build: renovate の 対象に motion を含める
  renovate.json
Due: biome

refactor: chart の export 名を変更
  src/components/time-series-chart/index.stories.tsx
  src/components/time-series-chart/index.tsx
Due: biome, type-check

chore: 外から値もらうように
  src/components/time-series-chart/index.stories.tsx
  src/components/time-series-chart/index.tsx
Due: biome, type-check

refactor day と date を整形して返す関数を切り出し
  src/app/(private)/_components/daily-achievement/index.tsx
  src/app/_utils/date.test.ts
  src/app/_utils/date.ts
Due: biome, type-check
