Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm type-check
      stage_fixed: true

chore: 統合テスト用のnpmスクリプトとexeca依存関係追加
  package.json
  pnpm-lock.yaml
Due: biome

refactor: address PR review feedback
  .gitignore
  package.json
  src/app/(private)/_actions/post-quest-history-at-date.integration.test.ts
  src/test/helpers/mock-auth.ts
  vitest.config.ts
Due: biome, type-check

fix: move globalSetup to integration project only
  vitest.config.ts
Due: biome, type-check

fix: address PR review feedback
  .claude/plans/superbetter-refactoring-plan.md
  vitest-global.setup.ts
  vitest.config.ts
  vitest.integration.setup.ts
Due: biome, type-check

chore: Vercel monorepo用のビルドコマンドを設定
  apps/web/vercel.json
Due: biome

fix: Turborepo globalEnvに環境変数を追加
  turbo.json
Due: biome

fix: monorepo構成でのPlaywrightインストールコマンドを修正
  .github/workflows/ci.yml
  .github/workflows/vrt.yml
Due: none

fix: docker-compose.ymlのボリュームパスをmonorepo構成に対応
  docker-compose.yml
Due: none

feat: @superbetter/vrt パッケージの実装
  .github/workflows/vrt.yml
  .gitignore
  apps/web/.storybook/preview.tsx
  apps/web/.storybook/stubs/server-only.ts
  apps/web/.storybook/vitest-browser.setup.ts
  apps/web/drizzle.config.ts
  apps/web/package.json
  apps/web/src/__visual-tests__/all-stories.visual.test.tsx
  apps/web/src/db/client.ts
  apps/web/src/db/seed/index.ts
  apps/web/src/db/seed/test-type.ts
  apps/web/vitest-global.setup.ts
  apps/web/vitest.config.ts
  apps/web/vitest.integration.setup.ts
  apps/web/vitest.vrt.config.ts
  packages/vrt/.gitignore
  packages/vrt/README.md
  packages/vrt/package.json
  packages/vrt/src/index.ts
  packages/vrt/src/reporter/html-generator.ts
  packages/vrt/src/reporter/index.ts
  packages/vrt/src/setup/vitest-setup.ts
  packages/vrt/src/storybook/index.tsx
  packages/vrt/src/testing/defineVRTTest.ts
  packages/vrt/src/testing/defineVRTTests.ts
  packages/vrt/src/testing/index.ts
  packages/vrt/src/testing/testVRTStory.ts
  packages/vrt/src/types.ts
  packages/vrt/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, type-check

fix: レビュー指摘事項の修正
  .github/workflows/vrt.yml
  packages/vrt/src/reporter/index.ts
  packages/vrt/src/testing/defineVRTTests.ts
  packages/vrt/src/types.ts
Due: biome, type-check

refactor: Storybook デプロイを peaceiris/actions-gh-pages@v4 に変更
  .github/workflows/storybook.yml
Due: none

feat: VRT レポートを GitHub Pages にデプロイ
  .github/workflows/vrt.yml
Due: none

feat: PR クローズ時の VRT レポート自動削除
  .github/workflows/vrt-cleanup.yml
Due: none

deploy: 28921aa3e6e3cf1bbf6106a817b9a497258227d9
  .nojekyll
Due: none

fix: VRT レポーターを Vitest 4 API に対応
  packages/vrt/src/reporter/index.ts
Due: biome, type-check

deploy: 52c93e329a6ee71deb4951f3b3199c36ed59cf87
  pr-700/vrt-reports/index.html
  pr-700/vrt-reports/results.json
  pr-700/vrt-reports/screenshots/example-withicon-actual-chromium-linux.png
  pr-700/vrt-reports/screenshots/example-withicon-diff-chromium-linux.png
Due: biome

feat: CI に integration test を追加
  .github/workflows/ci.yml
Due: none

deploy: feda0dba500658261258644d619eaaadb7460101
  pr-703/vrt-reports/index.html
  pr-703/vrt-reports/results.json
  pr-703/vrt-reports/screenshots/example-default-actual-chromium-linux.png
  pr-703/vrt-reports/screenshots/example-default-diff-chromium-linux.png
Due: biome

feat(ui): パッケージ基盤設定を追加
  packages/ui/package.json
  packages/ui/panda.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
Due: biome, type-check

feat(ui): スタイル定義を追加
  packages/ui/src/styles/keyframes/index.ts
  packages/ui/src/styles/patterns/index.ts
  packages/ui/src/styles/semantic-tokens/colors.ts
  packages/ui/src/styles/semantic-tokens/index.ts
  packages/ui/src/styles/text-styles/index.ts
  packages/ui/src/styles/tokens/colors.ts
  packages/ui/src/styles/tokens/index.ts
  packages/ui/src/styles/tokens/z-index.ts
Due: biome, type-check

feat(ui): PandaCSS preset を追加
  packages/ui/src/preset.ts
Due: biome, type-check

feat(ui): hooks と utils を追加
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-dialog.ts
  packages/ui/src/hooks/use-is-client.ts
  packages/ui/src/hooks/use-tap-feeling.ts
  packages/ui/src/utils/unique-id.ts
Due: biome, type-check

feat(ui): アイコンコンポーネントを追加
  packages/ui/src/components/icons/AbTesting.tsx
  packages/ui/src/components/icons/AddBox.tsx
  packages/ui/src/components/icons/Android.tsx
  packages/ui/src/components/icons/Archive.tsx
  packages/ui/src/components/icons/Calendar.tsx
  packages/ui/src/components/icons/CalendarCheck.tsx
  packages/ui/src/components/icons/CheckGradient.tsx
  packages/ui/src/components/icons/CheckList.tsx
  packages/ui/src/components/icons/ChevlonLeft.tsx
  packages/ui/src/components/icons/Close.tsx
  packages/ui/src/components/icons/Cloud.tsx
  packages/ui/src/components/icons/CloudSun.tsx
  packages/ui/src/components/icons/Edit.tsx
  packages/ui/src/components/icons/Human.tsx
  packages/ui/src/components/icons/Logout.tsx
  packages/ui/src/components/icons/Menu.tsx
  packages/ui/src/components/icons/Minus.tsx
  packages/ui/src/components/icons/MoreVertical.tsx
  packages/ui/src/components/icons/Network4G.tsx
  packages/ui/src/components/icons/Network5G.tsx
  packages/ui/src/components/icons/Plus.tsx
  packages/ui/src/components/icons/RadioOn.tsx
  packages/ui/src/components/icons/Reload.tsx
  packages/ui/src/components/icons/Resolution4K.tsx
  packages/ui/src/components/icons/Resolution4KBox.tsx
  packages/ui/src/components/icons/ScriptText.tsx
  packages/ui/src/components/icons/Sort.tsx
  packages/ui/src/components/icons/Sun.tsx
  packages/ui/src/components/icons/Trash.tsx
  packages/ui/src/components/icons/Trophy.tsx
  packages/ui/src/components/icons/Zap.tsx
  packages/ui/src/components/icons/index.ts
  packages/ui/src/components/icons/types.ts
Due: biome, type-check

feat(ui): UIコンポーネントを追加
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/counter-button/index.tsx
  packages/ui/src/components/dialog/index.tsx
  packages/ui/src/components/drawer/index.tsx
  packages/ui/src/components/glass-screen/index.tsx
  packages/ui/src/components/icon-button/index.tsx
  packages/ui/src/components/icon-button/with-label.tsx
  packages/ui/src/components/loading/index.tsx
  packages/ui/src/components/motion-link/index.tsx
  packages/ui/src/components/number-input/index.tsx
  packages/ui/src/components/popover/index.tsx
  packages/ui/src/components/radio/index.tsx
  packages/ui/src/components/reorder/index.tsx
  packages/ui/src/components/select/index.tsx
  packages/ui/src/components/text-area/index.tsx
  packages/ui/src/components/text-input/index.tsx
  packages/ui/src/components/toast/index.tsx
  packages/ui/src/index.ts
Due: biome, type-check

feat(ui): Storybook 設定とストーリーを追加
  packages/ui/.storybook/globals.css
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/src/components/button/index.stories.tsx
  packages/ui/src/components/counter-button/index.stories.tsx
  packages/ui/src/components/dialog/index.stories.tsx
  packages/ui/src/components/drawer/index.stories.tsx
  packages/ui/src/components/glass-screen/index.stories.tsx
  packages/ui/src/components/icon-button/index.stories.tsx
  packages/ui/src/components/loading/index.stories.tsx
  packages/ui/src/components/motion-link/index.stories.tsx
  packages/ui/src/components/number-input/index.stories.tsx
  packages/ui/src/components/popover/index.stories.tsx
  packages/ui/src/components/radio/index.stories.tsx
  packages/ui/src/components/reorder/index.stories.tsx
  packages/ui/src/components/select/index.stories.tsx
  packages/ui/src/components/text-area/index.stories.tsx
  packages/ui/src/components/text-input/index.stories.tsx
  packages/ui/src/components/toast/index.stories.tsx
Due: biome, type-check

fix(ui): 'use client' ディレクティブをビルド出力に追加
  packages/ui/tsup.config.ts
Due: biome, type-check

fix(turbo): prepare タスクに依存関係を追加
  turbo.json
Due: biome

deploy: 1ba3a1f3c146174da21c302d0ec0d4126dec982b
  pr-707/vrt-reports/index.html
  pr-707/vrt-reports/results.json
  pr-707/vrt-reports/screenshots/example-withicon-actual-chromium-linux.png
  pr-707/vrt-reports/screenshots/example-withicon-diff-chromium-linux.png
Due: biome

feat(deps): pnpm catalogs を導入してバージョン管理を一元化
  apps/web/package.json
  package.json
  packages/ui/package.json
  packages/vrt/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

deploy: 703a6acf3fdc6544c1bc08e165635c8ddbf5fcc8
  pr-710/vrt-reports/index.html
  pr-710/vrt-reports/results.json
  pr-710/vrt-reports/screenshots/navigation-default-actual-chromium-linux.png
  pr-710/vrt-reports/screenshots/navigation-default-diff-chromium-linux.png
Due: biome

feat(ui): VRT（Visual Regression Testing）を導入
  .github/workflows/vrt-ui.yml
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/vitest-browser.setup.ts
  packages/ui/package.json
  packages/ui/src/__visual-tests__/all-stories.visual.test.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  packages/ui/vitest.vrt.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, type-check

deploy: a8caafd2de6570f1727b4dfadf5b7b161b3ed14c
  pr-713/vrt-reports/ui/index.html
  pr-713/vrt-reports/ui/results.json
Due: biome

fix(ci): VRTワークフローにconcurrencyを追加してgh-pagesデプロイ競合を防止
  .github/workflows/vrt-ui.yml
  .github/workflows/vrt.yml
Due: none

deploy: 17911a7ca14cddb900cea0a39759df23ff0ffc7c
  pr-713/vrt-reports/index.html
  pr-713/vrt-reports/results.json
  pr-713/vrt-reports/screenshots/example-withicon-actual-chromium-linux.png
  pr-713/vrt-reports/screenshots/example-withicon-diff-chromium-linux.png
Due: biome

deploy: 17911a7ca14cddb900cea0a39759df23ff0ffc7c
  pr-713/vrt-reports/ui/results.json
Due: biome

deploy: 9501601379cb79d91ae0485a3940a5897f43e91b
  pr-716/vrt-reports/index.html
  pr-716/vrt-reports/results.json
  pr-716/vrt-reports/screenshots/date-navigation-date-navigation-differentdate-reference-chromium-linux.png
  pr-716/vrt-reports/screenshots/example-withicon-actual-chromium-linux.png
  pr-716/vrt-reports/screenshots/example-withicon-diff-chromium-linux.png
  pr-716/vrt-reports/screenshots/navigation-default-actual-chromium-linux.png
  pr-716/vrt-reports/screenshots/navigation-default-diff-chromium-linux.png
Due: biome
