Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm type-check
  stage_fixed: true

deploy: 07a8e8404f11a388f41a7c729f572beb4391dd2f
  pr-751/vrt-reports/index.html
  pr-751/vrt-reports/results.json
  pr-751/vrt-reports/screenshots/header-default-actual-chromium-linux.png
  pr-751/vrt-reports/screenshots/header-default-diff-chromium-linux.png
Due: biome

fix: TimeSeriesChartのレスポンシビリティとタイムゾーン問題を修正
  apps/web/src/components/time-series-chart/index.tsx
Due: biome, type-check

test: 動的期間表示のStorybookストーリーを追加
  apps/web/src/components/time-series-chart/index.stories.tsx
Due: biome, type-check

deploy: 786fb4aecad7bbb47af96da98e8459ebd1094af0
  pr-751/vrt-reports/results.json
Due: biome

test: getOldestHistoryDateとgetDynamicAchievementsの統合テストを追加
  apps/web/src/app/(private)/_actions/_utils/get-oldest-history-date.integration.test.ts
  apps/web/src/app/(private)/_actions/get-dynamic-achievements.integration.test.ts
  apps/web/src/test/helpers/db-helpers.ts
  apps/web/vitest.config.ts
Due: biome, type-check

deploy: a0c0a1ad8d0c922eb80747ecab47ff70a1c6ed81
  pr-751/vrt-reports/results.json
Due: biome

fix(ci): Node.jsバージョンを.nvmrcから読み込むよう修正
  .github/workflows/ci.yml
Due: none

deploy: 0159fe23325e9ce9a4b777be4d33cbcbf33ee652
  pr-751/vrt-reports/results.json
Due: biome

fix: parseDateStringで日本語日付フォーマット(YYYY/M/D)に対応
  apps/web/src/components/time-series-chart/index.tsx
Due: biome, type-check

deploy: e8fb97c718c75aa4ab3d3222121594d03861800c
  pr-755/vrt-reports/index.html
  pr-755/vrt-reports/results.json
  pr-755/vrt-reports/screenshots/header-default-actual-chromium-linux.png
  pr-755/vrt-reports/screenshots/header-default-diff-chromium-linux.png
Due: biome

feat: 一覧画面からワンタップでミッション消化できる機能を追加
  apps/web/src/app/(private)/powerups/_components/powerup-list.tsx
  apps/web/src/app/(private)/quests/_components/quest-list.tsx
  apps/web/src/app/(private)/villains/_components/villain-list.tsx
  apps/web/src/components/entity-link/index.stories.tsx
  apps/web/src/components/entity-link/index.tsx
  apps/web/src/components/quick-execute-button/index.stories.tsx
  apps/web/src/components/quick-execute-button/index.tsx
Due: biome, type-check

deploy: 851b420fc467b397556102031241ab9fb18db834
  pr-764/vrt-reports/index.html
  pr-764/vrt-reports/results.json
  pr-764/vrt-reports/screenshots/entity-link-default-actual-chromium-linux.png
Due: biome

deploy: 69c0ec1495b9a92319cc024e6fbb511ef665c0dc
  pr-764/vrt-reports/index.html
  pr-764/vrt-reports/results.json
Due: biome

fix: EntityLinkのIconButtonからactiveプロパティを削除
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

deploy: c2d4e358004d869f8547483999e0a5c64e7898f7
  pr-764/vrt-reports/results.json
Due: biome

feat: StorybookにPixelMplusフォントを追加しpreflightを有効化
  packages/ui/.storybook/globals.css
  packages/ui/panda.config.ts
  packages/ui/postcss.config.cjs
Due: biome, type-check

deploy: 59a8fb22983bdc9b6cbdd6e21776f6ef983fae5a
  pr-790/vrt-reports/index.html
  pr-790/vrt-reports/results.json
Due: biome

deploy: 59a8fb22983bdc9b6cbdd6e21776f6ef983fae5a
  pr-790/vrt-reports/ui/index.html
  pr-790/vrt-reports/ui/results.json
  pr-790/vrt-reports/ui/screenshots/button-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/button-disabled-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/button-secondary-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/button-secondarydisabled-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/components-drawer-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/counter-button-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/dialog-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/glass-screen-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/icon-button-active-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/icon-button-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/icon-button-disabled-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/motion-link-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-disabled-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-primary-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-secondary-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-withlabel-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-withminmax-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/number-input-withstep-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/popover-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/radio-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/reorder-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/select-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/select-manyoptions-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/select-withdefaultvalue-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/select-withonvaluechange-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/select-withoutlabel-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/text-area-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/text-input-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/toast-default-actual-chromium-linux.png
  pr-790/vrt-reports/ui/screenshots/toast-longmessage-actual-chromium-linux.png
Due: biome

fix: Biomeのフォーマットエラーを修正
  packages/ui/.storybook/globals.css
Due: none

deploy: 8d791e9ed216ba82d4e7e6a3d65144493b08a899
  pr-790/vrt-reports/results.json
Due: biome

deploy: 8d791e9ed216ba82d4e7e6a3d65144493b08a899
  pr-790/vrt-reports/ui/results.json
Due: biome

fix: Storybookビルドでdrizzle-ormエラーを修正
  apps/web/.storybook/main.ts
  apps/web/src/utils/constants.ts
Due: biome, type-check

deploy: aaba750d25a1ae53eae92c5b4b0154390dece1cc
  pr-791/vrt-reports/index.html
  pr-791/vrt-reports/results.json
Due: biome

fix: クイックアクションボタンのトグル機能を修正
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

deploy: 9e79ca56184eb3768cb1c6be5fc539f38afe3635
  pr-797/vrt-reports/index.html
  pr-797/vrt-reports/results.json
Due: biome

deploy: 37ac47905b57c9acb37b055bd0c29fd6619a430d
  assets/Color-ASIRERSW-DX-kjmlY.js
  assets/DocsRenderer-GHJI37HO-LVC4UIxV.js
  assets/WithTooltip-IO6J4KBT-28vcZa1A.js
  assets/bun-sqlite-dialect-Dg8AP3vl.js
  assets/date-navigation.stories-Cigk9xxb.js
  assets/entity-history-item.stories-BXbYpon9.js
  assets/formatter-QJ4M4OGQ-BJjJSwin.js
  assets/iframe-8PfW34ZG.js
  assets/index-BbWNeX2n.js
  assets/index-C95F90gk.js
  assets/index-CRQf4XlQ.js
  assets/index-FFRRUK6N.js
  assets/index-hDENJ-Gz.js
  assets/index-hcVlaSfo.js
  assets/index-oGebLtmG.js
  assets/index-t8Ad9woq.js
  assets/index.stories-BF_fulxC.js
  assets/index.stories-BNiDHydM.js
  assets/index.stories-BdU968dL.js
  assets/index.stories-BwnVKuOV.js
  assets/index.stories-C2yQwUhA.js
  assets/index.stories-C9hKTZL7.js
  assets/index.stories-CxRGEjOu.js
  assets/index.stories-Dla8oSkA.js
  assets/index.stories-Mo12ynOt.js
  assets/index.stories-SD8yde4X.js
  assets/index.stories-U8B4k-rQ.js
  assets/index.stories-hlIIWVpo.js
  assets/link-D4IZA12v.js
  assets/node-sqlite-dialect-6BS-IYnD.js
  assets/pixel-border-5a4dsT1Y.js
  assets/proxy-DLSblRkh.js
  assets/react-18-YN-nNey2.js
  assets/syntaxhighlighter-IQDEPFLK-DWgR6VRJ.js
  iframe.html
  project.json
Due: biome, type-check

fix: クイックアクション実行後にスライドをリセットする
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

deploy: 90860f709051ead6ec001b1d9cb0667d4915080b
  pr-798/vrt-reports/index.html
  pr-798/vrt-reports/results.json
Due: biome

refactor: QuickExecuteButtonをEntityLinkに統合
  apps/web/src/app/(private)/powerups/_components/powerup-list.tsx
  apps/web/src/app/(private)/quests/_components/quest-list.tsx
  apps/web/src/app/(private)/villains/_components/villain-list.tsx
  apps/web/src/components/entity-link/index.stories.tsx
  apps/web/src/components/entity-link/index.tsx
  apps/web/src/components/quick-execute-button/index.stories.tsx
  apps/web/src/components/quick-execute-button/index.tsx
Due: biome, type-check

deploy: ab7ad80ff067628b46f320d87dee1b4138f2149f
  pr-798/vrt-reports/index.html
  pr-798/vrt-reports/results.json
Due: biome

deploy: d1caa85119f40c8107a10578a80f5a7d35d94b18
  assets/Color-ASIRERSW-DCoxaTNz.js
  assets/DocsRenderer-GHJI37HO-_SuZUJjh.js
  assets/WithTooltip-IO6J4KBT-CkTN4bvT.js
  assets/bun-sqlite-dialect-Cl4CykH6.js
  assets/date-navigation.stories-Dx0CdqS1.js
  assets/entity-history-item.stories-B9rpGJt5.js
  assets/formatter-QJ4M4OGQ-DOy0jMLW.js
  assets/iframe-DPlMxrgh.js
  assets/index-CB9ZzUN_.js
  assets/index-CIyOqv0c.js
  assets/index-CiMPNxm8.js
  assets/index-D57UY3lQ.js
  assets/index-DbSxbZG6.js
  assets/index-DjUInJ7f.js
  assets/index-fw3gfFAn.js
  assets/index-z439eqk_.js
  assets/index.stories-BLHPj0qq.js
  assets/index.stories-BQu0TG1r.js
  assets/index.stories-CBcZct5N.js
  assets/index.stories-CBwh6AIC.js
  assets/index.stories-CoJVEork.js
  assets/index.stories-D-wyE_SX.js
  assets/index.stories-DIe9Wogf.js
  assets/index.stories-DqGjzWQn.js
  assets/index.stories-MoM04Z1B.js
  assets/index.stories-WWqGtyqp.js
  assets/index.stories-pMAug4X3.js
  assets/link-B8eMmaKr.js
  assets/node-sqlite-dialect-CPZ4bEcU.js
  assets/pixel-border-B1oUDgUn.js
  assets/proxy-PjhcWVYS.js
  assets/react-18-CxiLJWCG.js
  assets/syntaxhighlighter-IQDEPFLK-DgNzU2nb.js
  iframe.html
  index.json
  project.json
Due: biome, type-check

feat: EntityLink実行ボタンに振動機能を追加、アイコンをZapに変更
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

refactor: useVibrationフックを使用して振動処理を共通化
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

feat: EntityLink実行ボタンのアイコンをCheckGradientに変更
  apps/web/src/components/entity-link/index.tsx
Due: biome, type-check

feat: Checkアイコンを追加し、EntityLink実行ボタンで使用
  apps/web/src/components/entity-link/index.tsx
  packages/ui/src/components/icons/Check.tsx
  packages/ui/src/components/icons/index.ts
Due: biome, type-check

deploy: 4a6cd33c3c35a3b2951ee8e94a8dcd603f45da2f
  pr-803/vrt-reports/index.html
  pr-803/vrt-reports/results.json
Due: biome

deploy: 4a6cd33c3c35a3b2951ee8e94a8dcd603f45da2f
  pr-803/vrt-reports/ui/index.html
  pr-803/vrt-reports/ui/results.json
Due: biome

deploy: 772dd66c9c3e5f9b87d3f30d8440b8e78af1ec53
  assets/Color-ASIRERSW-rGCjZzFB.js
  assets/DocsRenderer-GHJI37HO-DRSuazJ_.js
  assets/WithTooltip-IO6J4KBT-t0Wk8xYe.js
  assets/bun-sqlite-dialect-DaKWH3r2.js
  assets/date-navigation.stories-BhZolxJx.js
  assets/entity-history-item.stories-BHf1bEMY.js
  assets/formatter-QJ4M4OGQ-CAkGZuMU.js
  assets/iframe-Blnp8no9.js
  assets/index-B7pu2orT.js
  assets/index-BA3gWW2X.js
  assets/index-BmDXe60s.js
  assets/index-BsuW_iby.js
  assets/index-Cqdy8P7H.js
  assets/index-Cwf28zCz.js
  assets/index-DVbHOe5M.js
  assets/index-Dsb_YkwV.js
  assets/index.stories-4gU17uIk.js
  assets/index.stories-B8zNFqVt.js
  assets/index.stories-Bkh5RKbj.js
  assets/index.stories-BtFwgg2I.js
  assets/index.stories-ByD8O_Am.js
  assets/index.stories-D4WHTgKe.js
  assets/index.stories-DPRn-c5X.js
  assets/index.stories-EfiIOZaC.js
  assets/index.stories-PTiupo7q.js
  assets/index.stories-VNXVZfgV.js
  assets/index.stories-mp1MEtVH.js
  assets/link-IEjv4EON.js
  assets/node-sqlite-dialect-C8f5Xdyd.js
  assets/pixel-border-Bk6KHzdu.js
  assets/proxy-C4BJpDFQ.js
  assets/react-18-Bkc45POZ.js
  assets/syntaxhighlighter-IQDEPFLK-vdOotAs9.js
  iframe.html
  project.json
Due: biome, type-check

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
