Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm type-check
      stage_fixed: true

refactor: simplify weekly achievements using shared utilities
  src/app/(private)/_actions/get-weeklly-achievements.ts
Due: biome, type-check

refactor: simplify monthly achievements using shared utilities
  src/app/(private)/_actions/get-monthly-achievements.ts
Due: biome, type-check

refactor: extract date formatting utility function
  src/app/(private)/_actions/_utils/pos-neg-data.ts
  src/app/_utils/date.ts
Due: biome, type-check

refactor: use shared date utility in weekly pos-neg scores
  src/app/(private)/_actions/get-weekly-pos-neg-scores.ts
Due: biome, type-check

feat: add monthly view support to log section
  src/app/(private)/me/_components/log-section/hooks/use-period-achievements.ts
  src/app/(private)/me/_components/log-section/index.tsx
Due: biome, type-check

feat: integrate monthly achievements in main page
  src/app/(private)/me/page.tsx
  src/components/calendar-chart/index.tsx
Due: biome, type-check

fix(drawer): escape transition property values
  src/components/drawer/index.tsx
Due: biome, type-check

feat: add server action to get achieved Epic Wins
  src/app/(private)/_actions/get-achieved-epicwins.ts
Due: biome, type-check

feat: add daily mission streak calculation
  src/app/(private)/_actions/get-daily-mission-streak.ts
Due: biome, type-check

feat: add achievements page with Epic Wins and streak display
  src/app/(private)/achievements/page.tsx
Due: biome, type-check

feat: add achievements link to my page
  src/app/(private)/me/page.tsx
Due: biome, type-check

refactor: improve achievements feature performance and code quality
  src/app/(private)/_actions/get-achieved-epicwins.ts
  src/app/(private)/_actions/get-daily-mission-streak.ts
  src/app/(private)/_actions/get-weekly-achievements.ts
  src/app/(private)/_actions/types/achievements.ts
  src/app/(private)/achievements/page.tsx
  src/app/(private)/me/page.tsx
  src/app/(private)/page.tsx
Due: biome, type-check

fix: remove explicit any type and use TypeScript inference
  src/app/(private)/page.tsx
Due: biome, type-check

chore: デイリーミッション連続達成のセクションを削除
  src/app/(private)/_actions/get-daily-mission-streak.ts
  src/app/(private)/achievements/page.tsx
Due: biome, type-check

chore: minimumReleaseAge を設定
  renovate.json
Due: biome

feat: Vitestテスト用のDBフィクスチャとユーティリティを追加
  src/test/utils/test-db.ts
  src/test/utils/test-fixtures.ts
Due: biome, type-check

test: achievement-helpersのDBテストを追加
  src/app/(private)/_actions/_utils/achievement-helpers.test.ts
  src/app/(private)/_actions/_utils/achievement-helpers.ts
  src/app/(private)/_actions/types/weekly-achievements.ts
Due: biome, type-check

fix: Change access_token column type from varchar(255) to text
  src/db/drizzle/0019_free_smasher.sql
  src/db/drizzle/meta/0019_snapshot.json
  src/db/drizzle/meta/_journal.json
  src/db/schema/auth.ts
Due: biome, type-check

feat: update next.js
  mcp.json
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome, type-check

style: lint fix
  biome.json
Due: biome

feat(missions): ミッション詳細ページのUI改善
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
  src/app/(private)/missions/[missionId]/page.tsx
Due: biome, type-check

build: upgrade storybook
  .storybook/main.ts
Due: biome, type-check

build: migrate Storybook from Webpack to Vite
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/app/(private)/_components/adventure-log/index.stories.tsx
  src/app/(private)/_components/daily-achievement/index.stories.tsx
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  src/app/(private)/_components/entity-link/index.stories.tsx
  src/app/(private)/_components/header/index.stories.tsx
  src/app/(private)/_components/mission/index.stories.tsx
  src/components/button/index.stories.tsx
  src/components/calendar-chart/index.stories.tsx
  src/components/counter-button/index.stories.tsx
  src/components/dialog/index.stories.tsx
  src/components/drawer/index.stories.tsx
  src/components/example/index.stories.tsx
  src/components/glass-screen/index.stories.tsx
  src/components/icon-button/index.stories.tsx
  src/components/icon-button/with-label.stories.tsx
  src/components/loading/index.stories.tsx
  src/components/motion-link/index.stories.tsx
  src/components/navigation/index.stories.tsx
  src/components/number-input/index.stories.tsx
  src/components/popover/index.stories.tsx
  src/components/radio/index.stories.tsx
  src/components/reorder/index.stories.tsx
  src/components/select/index.stories.tsx
  src/components/text-area/index.stories.tsx
  src/components/text-input/index.stories.tsx
  src/components/time-series-chart/index.stories.tsx
  src/components/toast/index.stories.tsx
Due: biome, type-check

style: biome自動修正を適用
  biome.json
  scripts/generate-icon-components.ts
  scripts/update-icon-usage.ts
  src/app/(private)/_components/adventure-log/index.tsx
  src/app/(private)/_components/entity-icon/entity-icon-map.tsx
  src/app/(private)/_components/entity-icon/index.tsx
  src/components/icons/types.ts
Due: biome, type-check

fix: fix type errors in entity-icon stories
  src/app/(private)/_components/entity-icon/index.stories.tsx
  src/app/(private)/_components/entity-icon/index.tsx
Due: biome, type-check

build: better-auth 移行中 Phase 2 まで完了
  package.json
  pnpm-lock.yaml
  src/app/(private)/_actions/get-user.ts
  src/app/api/auth/[...all]/route.ts
  src/db/drizzle/0020_slimy_wolfpack.sql
  src/db/drizzle/meta/0020_snapshot.json
  src/db/drizzle/meta/_journal.json
  src/db/schema/auth.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
Due: biome, type-check

feat: BetterAuth 移行 Phase 3 完了
  src/app/(private)/_actions/get-user.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/cron/create-daily-mission/route.ts
  src/auth/index.ts
  src/components/auth/credentials-form.tsx
  src/components/auth/google-button.tsx
  src/components/auth/signout.tsx
  src/db/drizzle/0021_glamorous_carlie_cooper.sql
  src/db/drizzle/0022_parallel_purple_man.sql
  src/db/drizzle/meta/0021_snapshot.json
  src/db/drizzle/meta/0022_snapshot.json
  src/db/drizzle/meta/_journal.json
  src/db/schema/auth.ts
  src/db/schema/superbetter.ts
  src/db/seed/index.ts
  src/lib/auth.ts
Due: biome, type-check

chore: Phase 5 クリーンアップ完了 - メール/パスワード認証を廃止
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/app/(private)/_actions/signout.ts
  src/app/(private)/me/_components/config-button/index.tsx
  src/app/login/page.tsx
  src/auth/index.ts
  src/components/auth/credentials-form.tsx
  src/components/auth/magic-links-form.tsx
  src/db/schema/auth.ts
  src/lib/auth.ts
Due: biome, type-check

fix: Google サインアップ時に初期エンティティが作成されるように修正
  src/lib/auth.ts
Due: biome, type-check

chore: TiDB の timestamp 型にあわせて変更
  src/db/drizzle/0020_slimy_wolfpack.sql
  src/db/drizzle/0021_glamorous_carlie_cooper.sql
Due: none

feat: Add Storybook MCP integration for AI-assisted component development
  .mcp.json
  .storybook/main.ts
  mcp.json
  package.json
  pnpm-lock.yaml
Due: biome, type-check

feat: Add implementation checklists and development slash commands
  .claude/commands/component.md
  .claude/commands/entity.md
  .claude/commands/migration.md
  CLAUDE.md
Due: none

fix: Update MCP config key from 'transport' to 'type' for Storybook server
  .mcp.json
Due: biome

feat: Reconciliation Loop実装 - コンポーネント開発の設計・実装・検証サイクル
  .claude/commands/reconcile-component.md
  .claude/docs/reconciliation-loop.md
  .claude/templates/component.spec.md
  .claude/utils/figma-to-panda.md
  src/components/button/button.spec.md
Due: none

docs: entity-link仕様書を実装状態に同期し、reconcileコマンドを改善
  .claude/commands/reconcile-component.md
  src/app/(private)/_components/entity-link/entity-link.spec.md
Due: none

chore: chrome-devtools MCP サーバーを追加
  .mcp.json
  package.json
  pnpm-lock.yaml
Due: biome

chore: 一旦削除
  .claude/commands/component.md
  .claude/commands/entity.md
  .claude/commands/migration.md
  .claude/commands/reconcile-component.md
  .claude/docs/reconciliation-loop.md
Due: none

feat: VRTセットアップ - Vitest 4.0.15とcomposeStoriesによる全ストーリーテスト
  .gitignore
  .storybook/vitest-browser.setup.ts
  package.json
  pnpm-lock.yaml
  src/__visual-tests__/all-stories.visual.test.tsx
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  tsconfig.json
  vitest.config.ts
Due: biome, type-check

ci: Install Playwright browsers in CI workflow
  .github/workflows/ci.yml
Due: none
