Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm type-check
      stage_fixed: true

build: setup panda
  package.json
  panda.config.ts
  src/app/globals.css
  src/app/page.tsx
Due: biome, type-check

build: improve panda config
  package.json
  panda.config.ts
  src/app/page.tsx
Due: biome, type-check

build: install clerk for next.js
  package.json
  pnpm-lock.yaml
Due: biome

feat: setup clerk
  src/app/globals.css
  src/app/layout.tsx
  src/middleware.ts
Due: biome, type-check

build: next-auth
  package.json
  pnpm-lock.yaml
Due: biome

build: setup next-auth
  src/app/api/auth/[...nextauth]/route.ts
  src/auth.ts
  src/middleware.ts
Due: biome, type-check

build: setup google signin button
  src/app/page.tsx
  src/auth.ts
  src/components/signin/google.tsx
Due: biome, type-check

build: install drizzle
  package.json
  pnpm-lock.yaml
Due: biome

buidl: local mysql database
  docker-compose.yml
Due: none

build: setup drizzle
  db/drizzle.ts
  db/schema.ts
  drizzle.config.ts
  src/app/globals.css
Due: biome, type-check

build: install drizzle-adapter
  package.json
  pnpm-lock.yaml
Due: biome

build: docker compose up 直後に create database するように
  db/init/init.sql
  docker-compose.yml
Due: none

build: login with inserting record
  db/schema.ts
  drizzle/0000_melted_valeria_richards.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  src/auth.ts
  src/auth/config.ts
  src/auth/index.ts
  src/middleware.ts
Due: biome, type-check

chore: docekr compose に version の記載は不要になった
  docker-compose.yml
Due: none

feat: drizzle:migrate を tidb と local の mysql 両方に適用できるように
  db/drizzle.ts
  db/index.ts
  db/schema.ts
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/auth/index.ts
Due: biome, type-check

feat: color token を追加
  panda.config.ts
  src/styles/tokens/colors.ts
  src/styles/tokens/index.ts
Due: biome, type-check

feat: textStyle を追加
  panda.config.ts
  src/styles/textStyles/index.ts
Due: biome, type-check

fix: blue などはなくなったので置き換える
  src/app/page.tsx
Due: biome, type-check

fix: RootLayout metadata
  src/app/layout.tsx
Due: biome, type-check

feat: setup PixelMPlus font
  src/app/layout.tsx
  src/fonts/PixelMplus12-Regular.ttf
Due: biome, type-check

feat: protect resource
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/google/signin.tsx
  src/components/google/signout.tsx
  src/middleware.ts
Due: biome, type-check

feat: setup storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/example/index.stories.tsx
  src/components/example/index.tsx
Due: biome, type-check

feat: Storybook でも Pixel font が使えるように
  .storybook/main.ts
  .storybook/preview.tsx
  public/fonts/PixelMplus12-Regular.ttf
  src/app/layout.tsx
  src/fonts/index.ts
  tsconfig.json
Due: biome, type-check

feat: Storybook で panda css が使えるように
  .storybook/preview.ts
Due: biome, type-check

fix: path alias が使えなかった
  .storybook/main.ts
  src/components/example/index.tsx
Due: biome, type-check

chore: storybook default background is dark
  .storybook/preview.tsx
Due: biome, type-check

build: button コンポーネントの追加
  src/components/button/index.stories.tsx
  src/components/button/index.tsx
Due: biome, type-check

fix: 設定がたりなかった
  .storybook/main.ts
Due: biome, type-check

feat: add login page
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/google/signin-button.tsx
Due: biome, type-check

feat: ログインが必要な画面に未ログインでアクセスした場合 /loginに遷移して prev に redirect する
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/google/signin-button.tsx
  src/middleware.ts
Due: biome, type-check

fix: height value
  src/app/login/page.tsx
Due: biome, type-check

feat: setup svgr
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/types/svgr.d.ts
  tsconfig.json
Due: biome, type-check

chore: use icon as test
  package.json
  src/app/page.tsx
  src/assets/icons.tsx
Due: biome, type-check

chore: Storybook でも svgr でアイコンを表示できるように
  .storybook/main.ts
  biome.json
  src/components/example/index.stories.tsx
Due: biome, type-check

refactor: 書き方を改める
  src/assets/icons.tsx
Due: biome, type-check

fix: 一旦必要になったら足してくでいいや
  src/assets/icons.tsx
Due: biome, type-check

docs: README を更新
  README.md
Due: none

chore: textStyle を調整
  src/styles/textStyles/index.ts
Due: biome, type-check

fix: SignOut したら /login に戻すように
  src/components/google/signout.tsx
Due: biome, type-check
