Repository mittsmasa/superbetter: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm type-check
  stage_fixed: true

chore: resend の provider を追加
  src/auth/index.ts
Due: biome, type-check

feat: Magic Link を実装
  src/app/login/page.tsx
  src/auth/index.ts
  src/components/auth/magic-links-form.tsx
Due: biome, type-check

feat: counter-button の見栄えをよくする
  src/components/counter-button/index.stories.tsx
  src/components/counter-button/index.tsx
Due: biome, type-check

chore: Recend (MgicLink) を無効にする
  src/auth/index.ts
Due: biome, type-check

feat: pages に登録
  src/auth/index.ts
Due: biome, type-check

chore: biome のルールも直しつつ IF の変更に追従
  biome.json
  src/components/time-series-chart/index.tsx
Due: biome, type-check

build: useSortedKey のルールを有効にする
  biome.json
Due: biome

chore: biome のルールに抵触してた
  src/app/_utils/unique-id.ts
Due: biome, type-check

chore: Claude Code に入信した
  CLAUDE.md
Due: none

feat: TypeScript設定の厳密性を向上
  tsconfig.json
Due: biome

fix: TypeScript厳密性向上によるエラーを修正
  drizzle.config.ts
  src/app/(private)/_actions/create-daily-mission.ts
  src/app/(private)/_actions/get-mission.ts
  src/app/(private)/_actions/get-weeklly-achievements.ts
  src/app/(private)/_actions/post-powerup-history.ts
  src/app/(private)/_actions/post-quest-history.ts
  src/app/(private)/_actions/post-villain-history.ts
  src/app/(private)/_components/entity-link/index.tsx
  src/app/(private)/missions/[missionId]/_utils/converter.ts
  src/app/(private)/powerups/_components/powerup-list.tsx
  src/app/(private)/quests/_components/quest-list.tsx
  src/app/(private)/villains/_components/villain-list.tsx
  src/app/api/cron/create-daily-mission/route.ts
  src/app/login/page.tsx
  src/app/sw.ts
  src/components/button/index.tsx
  src/components/motion-link/index.tsx
  src/components/time-series-chart/index.tsx
  src/db/client.ts
Due: biome, type-check

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Revert "TypeScript設定の厳密性を向上"
  drizzle.config.ts
  src/app/(private)/_actions/create-daily-mission.ts
  src/app/(private)/_actions/get-mission.ts
  src/app/(private)/_actions/get-weeklly-achievements.ts
  src/app/(private)/_actions/post-powerup-history.ts
  src/app/(private)/_actions/post-quest-history.ts
  src/app/(private)/_actions/post-villain-history.ts
  src/app/(private)/_components/entity-link/index.tsx
  src/app/(private)/missions/[missionId]/_utils/converter.ts
  src/app/(private)/powerups/_components/powerup-list.tsx
  src/app/(private)/quests/_components/quest-list.tsx
  src/app/(private)/villains/_components/villain-list.tsx
  src/app/api/cron/create-daily-mission/route.ts
  src/app/login/page.tsx
  src/app/sw.ts
  src/components/button/index.tsx
  src/components/motion-link/index.tsx
  src/components/time-series-chart/index.tsx
  src/db/client.ts
  tsconfig.json
Due: biome, type-check

ci: PRのWF実行権限を私に絞る
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: Claude workflow allowed_tools を pnpm コマンドに変更
  .github/workflows/claude.yml
Due: none

feat: add Figma MCP server configuration
  .mcp.json
Due: biome

build: upgrade storybook
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/app/(private)/_components/adventure-log/index.stories.tsx
  src/app/(private)/_components/daily-achievement/index.stories.tsx
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  src/app/(private)/_components/entity-link/index.stories.tsx
  src/app/(private)/_components/header/index.stories.tsx
  src/app/(private)/_components/mission/index.stories.tsx
  src/components/button/index.stories.tsx
  src/components/counter-button/index.stories.tsx
  src/components/dialog/index.stories.tsx
  src/components/drawer/index.stories.tsx
  src/components/example/index.stories.tsx
  src/components/glass-screen/index.stories.tsx
  src/components/icon-button/index.stories.tsx
  src/components/icon-button/with-label.stories.tsx
  src/components/loading/index.stories.tsx
  src/components/motion-link/index.stories.tsx
  src/components/navigation/index.stories.tsx
  src/components/number-input/index.stories.tsx
  src/components/popover/index.stories.tsx
  src/components/radio/index.stories.tsx
  src/components/reorder/index.stories.tsx
  src/components/text-area/index.stories.tsx
  src/components/text-input/index.stories.tsx
  src/components/time-series-chart/index.stories.tsx
  src/components/toast/index.stories.tsx
Due: biome, type-check

refactor: remove all storybook addons for minimal configuration
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: biome, type-check

build: drizzle:migrate
  src/db/drizzle/0018_flaky_firebrand.sql
  src/db/drizzle/meta/0018_snapshot.json
  src/db/drizzle/meta/_journal.json
Due: biome

chore: pnpm drizzle:gen
  src/app/(private)/_actions/get-notification-history.ts
  src/app/(private)/_actions/get-notification-settings.ts
  src/app/(private)/_actions/get-powerup.ts
  src/app/(private)/_actions/get-quest.ts
  src/app/(private)/_actions/get-villain.ts
  src/app/(private)/_actions/update-notification-settings.ts
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  src/app/(private)/_components/notification-settings/index.stories.tsx
  src/app/(private)/_components/notification-settings/index.tsx
  src/app/(private)/_services/notification-service.ts
  src/app/(private)/_utils/browser-notifications.ts
  src/app/(private)/me/_actions/get-pos-neg-scores.ts
  src/app/(private)/powerups/[id]/_components/execute-button.tsx
  src/app/(private)/powerups/_actions/reorder-powerups.ts
  src/app/(private)/quests/[id]/_components/execute-button.tsx
  src/app/(private)/quests/_actions/reorder-quests.ts
  src/app/(private)/villains/[id]/_components/execute-button.tsx
  src/app/(private)/villains/_actions/reorder-villains.ts
  src/components/reorder/index.stories.tsx
  src/db/drizzle/0018_busy_wolfsbane.sql
  src/db/drizzle/meta/0018_snapshot.json
  src/db/drizzle/meta/_journal.json
  src/db/schema/superbetter.ts
Due: biome, type-check

chore: turbopack は experimental はずれた
  next.config.ts
Due: biome, type-check

feat: migrate from volta to nvm for Node.js version management
  .nvmrc
  package.json
Due: biome

refactor: MissionForm としてコンポーネントを切り出して client で実行するように
  src/app/(private)/missions/[missionId]/_actions/get-all-entities.ts
  src/app/(private)/missions/[missionId]/_actions/post-entity-history.tsx
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
  src/app/(private)/missions/[missionId]/page.tsx
Due: biome, type-check

feat: ミッション詳細画面で、submit ボタン連打されないように
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
Due: biome, type-check

feat: ボタンテキストをpending状態に応じて変更
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
Due: biome, type-check

feat: スラッシュコマンドのfeature作成機能を追加
  .claude/commands/feature.md
Due: none

feat: /planスラッシュコマンドを追加
  .claude/commands/plan.md
  .gitignore
  .plan/.gitkeep
Due: none

refactor: Update plan slash command documentation to English
  .claude/commands/plan.md
Due: none

fix: /featureスラッシュコマンドの翻訳とブランチ作成機能を実装
  .claude/commands/feature.md
Due: none

docs: スラッシュコマンドの実装ガイドラインを追加
  .claude/commands/feature.md
  CLAUDE.md
Due: none

feat: MissionFormのレイアウト改善
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
  src/app/(private)/missions/[missionId]/page.tsx
Due: biome, type-check

feat: エンティティアイコンの完了時パルスアニメーションを追加
  src/app/(private)/_components/delete-confirm-dialog/index.stories.tsx
  src/app/(private)/_components/entity-icon/index.tsx
  src/components/reorder/index.stories.tsx
  src/styles/keyframes/index.ts
Due: biome, type-check

refactor: IconMap をファイルに切り出して共通化
  src/app/(private)/_components/entity-icon/entity-icon-map.tsx
  src/app/(private)/missions/[missionId]/_components/mission-form/index.tsx
Due: biome, type-check

chore: motion.create でSVGアイコンをアニメーションできるように
  src/app/(private)/_components/entity-icon/entity-icon-map.tsx
  src/app/(private)/_components/entity-icon/index.tsx
Due: biome, type-check

refactor: Motion.jsを使用したエンティティアイコンアニメーションの実装
  src/app/(private)/_components/entity-icon/index.tsx
Due: biome, type-check

refactor: 未使用のentityPulseキーフレームを削除
  src/styles/keyframes/index.ts
Due: biome, type-check

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
